.navbar {
  width: 100%;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-link {
  transition: all 0.25s;
  margin-left: 20px;
  border-radius: 5%;
  border: none;
}
.nav-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 8px 2px rgba(15, 15, 15, 0.2);
  color: #ed1414;
}
.logo {
  width: 150px;
  height: 50px;
  margin-left: 60px;
  margin-right: 0px;
}

.cartContainer {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart-items {
  margin-top: 3px;
  margin-left: 0px;
}
#ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 770px) {
  .navbar {
    align-items: center;
    justify-content: center;
  }
  .cartContainer {
    margin-right: 20px;
  }
  .logo {
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .nav-link {
    margin-left: 20px;
  }
  .nav-ul {
    justify-content: space-around;
  }
}
@media screen and (max-width: 430px) {
  .navbar {
    justify-content: space-around;
  }
  .cartContainer {
    margin-right: 20px;
  }
  .logo {
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .nav-link {
    margin-left: 0px;
  }
  #ul {
    justify-content: space-between;
    padding-right: 15px;
  }
}

@media screen and (max-width: 377px) {
  .logo {
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  #ul {
    justify-content: space-between;
    padding-right: 15px;
  }
}

@media screen and (max-width: 322px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo {
    margin-left: 0px;
    margin-right: 0px;
  }
  .cartContainer {
    margin-left: 15px;
  }
}
